@media screen and (max-width: 576px) {
    .container {
      flex-direction: column;
      height: auto;
     
    }
    .logo-container
    {
        
      align-items: center;
      gap: 5px;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 25px;
       
    }
    .follow-us {
      width: 100%;
      max-width: 300px;
    }




    .main-container{
    flex-direction: column;
    margin-top: 30px;
    
  }
  .main-text{
   width: 80%;
  }
  .banner-btn1{
    padding: 25px;
  }
  .banner-btn2{
    padding: 25px;
  }

  .main-image{
    width: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
  }




  .we-are-gamer-container{
    flex-direction: column;
    width: auto;
    
  }
  .gamer-image{
    width: 100%;
  }
  .gamer-text{
    width: 50%;
    text-align: center;
    margin-left: 100px;
  }
  .collection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .card1-text{
    text-align: center;
  }

  ..play-game-2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .small-img{
    width: 0%;
    margin-left: -200px;
  }
  .play-game-img img{
    width: 100%;
  }
  .category-container{
    width: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
  }

 .footer-img p{
    color: white;
 }
 .footer-text{
    padding-left: 20px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
 }
 .footer-socials{
    padding-left: 30px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
 }
 .footer-1{
    padding-left: 30px;
   display: grid;
   grid-template-columns: repeat(2,1fr); 
 }
 


  
  