*{
    
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
box-sizing: border-box;
}
.container{
   
    min-width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    
   
}
.logo-container{
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    
  
}
.logo-container img{
    width: 59.041px;
height: 30px;
}
.logo-container p{
    font-size: 30px;
    font-weight:bolder;
    text-align: center;
    font-style: normal;
}
.logo-container span{
    color: #FF42A5 ;


}
.navbar{
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
    
}

.navbar a{
    text-decoration: none;
     color: #3C354F;
     font-size: 15px;
     font-weight:500;
}
.follow-us{
    background-color: rgba(11, 2, 35, 0.10);
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 10px;

}

/* main */

.main-container{
    max-width:  1920px;
   
    display: flex;
    align-items: center;
    margin-top: px;
    
    
}

.main-text{
    width: 50%;
    
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(0, 93%, 84%, 0.075);
    align-items: center;
    
    
    
}

.play{
    font-size: 40px;
    text-transform: uppercase;
}
.goat{
    font-size: 80px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    
}
.main-text p{
    font-size: 16px;
 
}

.banner-btn1{
    font-size: 12px;
    padding: 15px;
    border-radius: 48px;
   background-color: #FF42A5;
    border: none;
    color: white;
    
}

.banner-btn2{
    font-size: 12px;
    padding: 15px;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none;
    color: white;
    
}
.main-image{
    width: 50%;
    background-color: rgba(245, 245, 220, 0.192);
   
    
    
    
}
.main-image img{
    height: 100%;
    width: 78%;
}

.we-are-gamer-container{
    width: 1472px;
    
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.gamer-image{
    width: 50%;
    border: 5px solid bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}





.gamer-image-main{
    width: 80%;
    height: 100%;
    border: 5px solid salmon;
    margin: 20px;
   
    
   
}

.gamer-text{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
